$white: hsl(0, 0%, 95%);
$light: hsl(0, 0%, 65%);
$dark: hsl(0, 0, 30%);
$black: hsl(0, 0, 5%);
$link: hsl(224, 64%, 41%);

$full-width: 45rem;

$font-headings: "Assistant", sans-serif;
$font-main: "Roboto Slab", serif;
$font-second: "Hind Siliguri", sans-serif;
