@use "./base";

*,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.app {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar {
  display: flex;
  position: fixed;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 7rem;
  width: 100%;
  padding: 0.5em 0 0.5em 0;
  // background-color: base.$light;

  &__location {
    font-size: 1.5rem;
  }

  &__flexbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
  }

  &__links-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    line-height: 2rem;
    align-items: center;
    gap: 3em;
    justify-content: center;

    background-color: base.$light;
  }

  &__link {
    text-decoration: none;
    color: black;
    padding: 0 1em 0 1em;

    &--active {
      background-color: darken(base.$light, 10%);
    }
  }
}

.search {
  &__dropdown {
    position: fixed;
    background-color: antiquewhite;
  }
  &__suggestion--active {
    background-color: aqua;
  }
}

.suggestions-list {
  margin-top: 7rem;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
}

.today {
  margin-top: 7rem;
}
.daily {
  margin-top: 7rem;
  display: flex;
  gap: 1em;
}

.hourly {
  padding: 0.2em;
  display: flex;
  gap: 1em;
}
