@use "./base";

*,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  padding-left: 17px;
  width: calc(100vw - 17px);
}

a {
  text-decoration: none;
  color: inherit;
}
.app {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: base.$font-main;
  font-weight: 300;
}

.navbar {
  display: flex;
  position: fixed;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 9rem;
  width: 100%;

  background-color: azure;
  z-index: 1;

  &__location {
    font-size: 1.2rem;
    padding-bottom: 0.5em;
  }

  &__row {
    display: flex;
    gap: 1em;
    align-items: center;
    height: 100%;

    & > svg {
      height: 100%;
    }
  }

  &__links-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 105%;
    line-height: 2rem;
    align-items: center;
    gap: 3em;
    justify-content: center;

    background-color: base.$light;
  }

  &__link {
    text-decoration: none;
    color: black;
    padding: 0 1em 0 1em;

    &--active {
      background-color: darken(base.$light, 10%);
    }
  }
}

.search {
  display: flex;
  flex-wrap: nowrap;
  // gap: 0.15em;
  width: 20rem;

  &__input {
    padding: 0.2em 3em 0.1em 0.5em;
    width: 100%;
    border: 0.05rem solid black;
    border-radius: 0.2rem;
    line-height: 1.7rem;
    font-size: 0.9rem;
  }

  &__button {
    border-radius: 0.2rem;
    position: relative;
    right: 1.5rem;
    font-size: 1.2rem;

    display: flex;
    border: none;
    align-items: center;
    justify-content: center;
    background-color: transparent;

    &:hover {
      cursor: pointer;
      -webkit-filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.7));
      filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.7));
    }
  }
}

.dropdown {
  position: fixed;
  background-color: base.$white;
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;

  padding: 0.5em 0;
  line-height: 1.5rem;

  &__list {
    list-style: none;
  }

  &__suggestion {
    padding: 0 0.5em;

    &:hover {
      cursor: pointer;
    }
  }

  &__suggestion--active {
    background-color: base.$light;
  }

  &__empty {
    padding: 0 0.5em;
  }
}
.suggestions-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: left;
  list-style: none;
  gap: 0.25em;

  &__item {
    color: base.$link;

    &:hover {
      text-shadow: 1px 1px 2px hsla(0, 0%, 27%, 0.3);
      cursor: pointer;
    }
  }
}

.content-container {
  min-height: calc(100vh - 3rem);
}

.main {
  display: flex;
  flex-direction: column;
  margin-top: 10.5rem;
  width: base.$full-width;
  align-items: center;
  text-align: center;

  & svg {
    vertical-align: middle;
    font-size: 2rem;
    color: rgb(36, 36, 36);
    opacity: 0.6;
  }
}

.footer {
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;

  & svg {
    vertical-align: middle;
  }
}

.today {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  background-color: antiquewhite;
  border-radius: 0.5rem;
  padding: 1em;
}

.day-container {
  background-color: antiquewhite;
  border-radius: 0.5rem;
  padding: 1em;
  width: 100%;
}

.day {
  background-color: antiquewhite;
  border-radius: 0.5rem;
  padding: 1em;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;

  &__dt {
    font-size: 1.5rem;

    &:hover {
      text-shadow: 4px 3px 9px hsla(0, 0%, 0%, 0.3);
    }
  }

  &__bar {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding: 0.5em 0;
  }

  &__main {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: beige;
    border-radius: 0.5em;
    justify-content: space-between;
    padding: 1em 3em;
  }

  &__column {
    display: flex;
    gap: 0.25em;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    &.right {
      align-items: flex-end;
    }
  }

  &__group {
    display: flex;
    gap: 0.5em;
    align-items: center;
  }

  &__temp {
    font-size: 2.5rem;
  }

  &__moonphase svg {
    font-size: 1.6rem;
  }
}

.weather {
  width: 100%;
  padding: 0 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;

  &__dt {
    font-size: 1.5rem;
  }

  &__bar {
    display: flex;
    align-items: center;
    // justify-content: space-around;
    width: 100%;
    justify-content: space-between;
    padding: 0.5em 0;
  }

  &__main {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 8em;
    padding: 1.5em 0;
    justify-content: center;
    background-color: beige;
    border-radius: 0.5em;
  }

  &__column {
    display: flex;
    gap: 0.25em;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    &.left {
      align-items: flex-start;
    }

    &.right {
      align-items: flex-end;
    }
  }

  &__group {
    display: flex;
    gap: 0.5em;
    align-items: center;
  }

  &__temp {
    font-size: 2.5rem;
    font-weight: 100;
    font-family: base.$font-main;
  }

  &__moonphase svg {
    font-size: 1.6rem;
  }
}
.daily {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.hourly {
  max-width: calc(base.$full-width - 3rem);
  align-items: center;
  justify-content: center;
  display: flex;
}

.hour {
  display: flex !important;
  flex-direction: column;
  // gap: 0.2em;
  height: 100%;
  padding: 0.25em;
  background-color: base.$light;
  border-radius: 0.25rem;
  text-align: center;
  justify-content: flex-start;

  &__time {
    padding-top: 0.25em;
  }

  & svg {
    font-size: 1.5rem;
    vertical-align: middle;
  }

  &__line {
    border-top: 0.05em solid black;
    width: 50%;
    margin: 0.5em auto;
  }

  &__column {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 0.25em;
    justify-content: center;
  }

  &__bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 1em;
  }

  &__temp {
    font-weight: bold;
  }

  &__pop {
    font-size: 0.8rem;
  }
}

.slick-slider {
  align-self: center;
  width: calc(100% - 2rem);
}

.slick-slide {
  padding: 0.25em;
  height: auto;

  & > div {
    height: 100%;
  }
}

.slick-prev {
  left: -1.5rem;
}

.slick-next {
  right: -1.3rem;
}

.slick-track {
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  gap: 0.1em;
}

.slick-arrow::before {
  color: base.$light !important;
  font-size: 1.5rem;
}
