*,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.search__dropdown {
  position: fixed;
  background-color: antiquewhite;
}
.search__suggestion--active {
  background-color: aqua;
}

.suggestions-list {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
}
